swagger: '2.0'
info:
  description: ''
  version: 1.0.0
  title: Monzo Undocumented API
host: api.monzo.com
basePath: /
tags:
  - name: Account
    description: ''
  - name: Topup
    description: ''
  - name: user
    description: ''
schemes:
  - https
paths:
  /account-settings:
    get:
      produces:
        - application/json
      consumes: []
      tags: &ref_0
        - MonzoApi
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiAccountSettings'
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: magstripe_atm_enabled
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiAccountSettings'
  /accounts:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_type
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiAccounts'
  /api/v2/incidents/unresolved.json:
    get:
      produces:
        - application/json
      consumes: []
      tags:
        - ServiceStatusApi
      parameters: []
      responses:
        '200':
          description: Success
  /attachment/deregister:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: id
          type: string
      responses:
        '200':
          description: Success
  /attachment/register:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: external_id
          type: string
        - in: formData
          name: file_url
          type: string
      responses:
        '200':
          description: Success
  /attachment/upload:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: file_name
          type: string
        - in: formData
          name: file_type
          type: string
      responses:
        '200':
          description: Success
  /bacs-direct-debits/instructions:
    get:
      produces:
        - application/json
      consumes: []
      tags: &ref_1
        - MonzoPaymentsApi
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  '/bacs-direct-debits/instructions/{direct_debit_id}/cancel':
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: path
          name: direct_debit_id
          type: string
          required: true
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: challenge_type
          type: string
        - in: formData
          name: challenge
          type: string
        - in: formData
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
  /balance:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiBalance'
  /balance/limits:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiBalanceLimits'
  /card-activation/activate:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: card_token
          type: string
      responses:
        '200':
          description: Success
  /card-dispatch/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiCardDispatchStatus'
  /card-replacement/activate:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: old_card_id
          type: string
        - in: formData
          name: new_card_token
          type: string
      responses:
        '200':
          description: Success
  /card-replacement/order:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: card_id
          type: string
        - in: formData
          name: 'address[street_address][]'
          type: array
          items:
            type: string
        - in: formData
          name: 'address[locality]'
          type: string
        - in: formData
          name: 'address[administrative_area]'
          type: string
        - in: formData
          name: 'address[postal_code]'
          type: string
        - in: formData
          name: 'address[country]'
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiCardReplacementOrder'
  /card/list:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /card/toggle:
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: card_id
          type: string
        - in: formData
          name: status
          type: string
      responses:
        '200':
          description: Success
  /config:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiConfig'
  /contact-discovery/query:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: 'hash[][phone]'
          type: string
      responses:
        '200':
          description: Success
  /faster-payments/create:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: currency
          type: string
        - in: formData
          name: beneficiary_account_number
          type: string
        - in: formData
          name: beneficiary_sort_code
          type: string
        - in: formData
          name: beneficiary_customer_name
          type: string
        - in: formData
          name: idempotency_key
          type: string
        - in: formData
          name: challenge_type
          type: string
        - in: formData
          name: challenge
          type: string
        - in: formData
          name: reference
          type: string
      responses:
        '200':
          description: Success
  /fcm/register:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: device_token
          type: string
        - in: formData
          name: app_id
          type: string
      responses:
        '200':
          description: Success
  /feed:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
        - in: query
          name: start_time
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiFeedResponse'
  '/feed/{id}':
    delete:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiFeedItem'
  /geocode/postal-code-lookup:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: postal_code
          type: string
        - in: query
          name: country
          type: string
      responses:
        '200':
          description: Success
  '/golden-ticket/{id}':
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiGoldenTicket'
  '/help/content/categories/{id}':
    get:
      produces:
        - application/json
      consumes: []
      tags: &ref_2
        - HelpApi
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/Section'
  /help/content/search:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_2
      parameters:
        - in: query
          name: q
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/SearchQuery'
  /help/content/trending:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_2
      parameters: []
      responses:
        '200':
          description: Success
  /identity-verification/register-identity-document:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: &ref_3
        - MonzoIdentityVerificationApi
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: type
          type: string
        - in: formData
          name: issuing_country
          type: string
        - in: formData
          name: system_camera_used
          type: boolean
        - in: formData
          name: primary_image_file_id
          type: string
        - in: formData
          name: secondary_image_file_id
          type: string
      responses:
        '200':
          description: Success
  /identity-verification/register-selfie-video:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: file_id
          type: string
        - in: formData
          name: system_camera_used
          type: boolean
      responses:
        '200':
          description: Success
  /identity-verification/request-file-upload:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: type
          type: string
        - in: formData
          name: file_name
          type: string
        - in: formData
          name: content_type
          type: string
        - in: formData
          name: content_length
          type: number
      responses:
        '200':
          description: Success
  /identity-verification/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_3
      parameters:
        - in: query
          name: source
          type: string
      responses:
        '200':
          description: Success
  /identity-verification/submit:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: query
          name: source
          type: string
      responses:
        '200':
          description: Success
  '/intercom/tokens/{intercom_app_id}':
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: path
          name: intercom_app_id
          type: string
          required: true
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiIntercomToken'
  /kyc/register:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: formData
          name: file_url
          type: string
        - in: formData
          name: group_id
          type: string
        - in: formData
          name: evidence_type
          type: string
      responses:
        '200':
          description: Success
  /kyc/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_3
      parameters: []
      responses:
        '200':
          description: Success
  /kyc/upload:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: formData
          name: file_name
          type: string
        - in: formData
          name: file_type
          type: string
      responses:
        '200':
          description: Success
  /news:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiNews'
  /oauth2/authorize:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: &ref_4
        - MonzoOAuthApi
      parameters:
        - in: header
          name: Authorization
          type: string
        - in: formData
          name: email
          type: string
        - in: formData
          name: client_id
          type: string
        - in: formData
          name: response_type
          type: string
        - in: formData
          name: redirect_uri
          type: string
        - in: formData
          name: state
          type: string
      responses:
        '200':
          description: Success
  /oauth2/logout:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_4
      parameters:
        - in: header
          name: Authorization
          type: string
      responses:
        '200':
          description: Success
  /oauth2/token:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_4
      parameters:
        - in: header
          name: Authorization
          type: string
        - in: formData
          name: grant_type
          type: string
        - in: formData
          name: code
          type: string
        - in: formData
          name: redirect_uri
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiToken'
  /p2p/recipients:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: formData
          name: 'candidate[0][username]'
          type: string
      responses:
        '200':
          description: Success
  /p2p/transfer:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: formData
          name: recipient
          type: string
        - in: formData
          name: recipient_type
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: currency
          type: string
        - in: formData
          name: challenge_type
          type: string
        - in: formData
          name: challenge
          type: string
        - in: formData
          name: dedupe_id
          type: string
        - in: formData
          name: notes
          type: string
      responses:
        '200':
          description: Success
  /payee/validate:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_1
      parameters:
        - in: query
          name: account_number
          type: string
        - in: query
          name: sort_code
          type: string
      responses:
        '200':
          description: Success
  /phone/check-code:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: phone_number
          type: string
        - in: formData
          name: code
          type: string
      responses:
        '200':
          description: Success
  /phone/send-code:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: phone_number
          type: string
      responses:
        '200':
          description: Success
  /pin/sms:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: date_of_birth
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiPinSms'
  /pin/sms_blocked:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /scheduled-payments/series:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_1
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /scheduled-payments/series/fps:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: currency
          type: string
        - in: formData
          name: beneficiary_account_number
          type: string
        - in: formData
          name: beneficiary_sort_code
          type: string
        - in: formData
          name: beneficiary_customer_name
          type: string
        - in: formData
          name: idempotency_key
          type: string
        - in: formData
          name: challenge_type
          type: string
        - in: formData
          name: challenge
          type: string
        - in: formData
          name: reference
          type: string
        - in: formData
          name: start_date
          type: string
        - in: formData
          name: interval_type
          type: string
        - in: formData
          name: end_date
          type: string
      responses:
        '200':
          description: Success
  '/scheduled-payments/series/{series_id}':
    delete:
      produces:
        - application/json
      consumes: []
      tags: *ref_1
      parameters:
        - in: path
          name: series_id
          type: string
          required: true
        - in: query
          name: account_id
          type: string
        - in: query
          name: challenge_type
          type: string
        - in: query
          name: challenge
          type: string
        - in: query
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
  /signup:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: v2_enabled
          type: boolean
      responses:
        '200':
          description: Success
  /signup/apply:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: v2_enabled
          type: boolean
        - in: formData
          name: 'address[street_address][]'
          type: string
      responses:
        '200':
          description: Success
  /signup/create:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: 'address[street_address][]'
          type: string
      responses:
        '200':
          description: Success
  /signup/legal-documents/accept:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: &ref_5
        - MonzoSignUpApi
      parameters:
        - in: formData
          name: terms_and_conditions_accepted
          type: boolean
        - in: formData
          name: terms_and_conditions_version
          type: string
        - in: formData
          name: privacy_policy_accepted
          type: boolean
        - in: formData
          name: privacy_policy_version
          type: string
        - in: formData
          name: fscs_information_sheet_accepted
          type: boolean
        - in: formData
          name: fscs_information_sheet_version
          type: string
      responses:
        '200':
          description: Success
  /signup/legal-documents/documents:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/marketing/subscribe:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: opt_in
          type: boolean
        - in: formData
          name: opt_out
          type: boolean
      responses:
        '200':
          description: Success
  /signup/personal-account/card-order/create:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: name_type
          type: string
        - in: formData
          name: pin_type
          type: string
        - in: formData
          name: pin
          type: string
      responses:
        '200':
          description: Success
  /signup/personal-account/card-order/options:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/personal-account/start:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/personal-account/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/profile:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: legal_name
          type: string
        - in: formData
          name: preferred_name
          type: string
        - in: formData
          name: date_of_birth
          type: string
      responses:
        '200':
          description: Success
  /signup/profile/address:
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: address_id
          type: string
        - in: formData
          name: 'address_lines[]'
          type: string
        - in: formData
          name: administrative_area
          type: string
        - in: formData
          name: postal_code
          type: string
        - in: formData
          name: country_code
          type: string
      responses:
        '200':
          description: Success
  /signup/profile/address/search:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters:
        - in: query
          name: country_code
          type: string
        - in: query
          name: postal_code
          type: string
      responses:
        '200':
          description: Success
  /signup/profile/commit:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/profile/phone/send:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: phone_number
          type: string
      responses:
        '200':
          description: Success
  /signup/profile/phone/verify:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: phone_number
          type: string
        - in: formData
          name: code
          type: string
      responses:
        '200':
          description: Success
  /stripe/cards:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: stripe_token
          type: string
        - in: formData
          name: iin
          type: string
        - in: formData
          name: save
          type: boolean
        - in: formData
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiStripeCards'
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiStripeCards'
  /stripe/three_d_secure:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: currency
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: is_initial
          type: boolean
        - in: formData
          name: stripe_card_id
          type: string
        - in: formData
          name: return_url
          type: string
        - in: formData
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiThreeDsResponse'
  /stripe/top_up:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: stripe_source
          type: string
        - in: formData
          name: currency
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: is_initial
          type: boolean
        - in: formData
          name: three_d_secure_decision
          type: string
        - in: formData
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
  /tax-residency/no-tin:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: &ref_6
        - MonzoTaxResidencyApi
      parameters:
        - in: formData
          name: country_code
          type: string
      responses:
        '200':
          description: Success
  /tax-residency/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_6
      parameters: []
      responses:
        '200':
          description: Success
  /tax-residency/submit:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_6
      parameters: []
      responses:
        '200':
          description: Success
  /tax-residency/update-self-certification:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_6
      parameters:
        - in: formData
          name: from_summary_screen
          type: boolean
        - in: formData
          name: us_citizen
          type: boolean
        - in: formData
          name: 'country_codes[]'
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
  /tax-residency/update-tin:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_6
      parameters:
        - in: formData
          name: country_code
          type: string
        - in: formData
          name: type
          type: string
        - in: formData
          name: value
          type: string
      responses:
        '200':
          description: Success
  /topup/limits:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiTopUpLimits'
  /topup/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /transactions/update-metadata:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: transaction_id
          type: string
        - in: formData
          name: 'metadata[notes]'
          type: string
      responses:
        '200':
          description: Success
  '/transactions/{transaction_id}':
    patch:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: path
          name: transaction_id
          type: string
          required: true
        - in: formData
          name: category
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiTransaction'
  /user-settings:
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: p2p_enabled
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiUserSettings'
  /waitlist:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#definitions/ApiAttachment'
  /waitlist/signup:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters: []
      responses:
        '200':
          description: Success
securityDefinitions: {}
definitions:
  ApiAccount:
    type: object
    properties:
      accountNumber:
        type: string
      created:
        type: string
        format: date
      description:
        type: string
      id:
        type: string
      sortCode:
        type: string
      type:
        type: string
  ApiAccounts:
    type: object
    properties:
      accounts:
        type: array
        items:
          type: object
  ApiAddress:
    type: object
    properties:
      addressId:
        type: string
      addressLines:
        type: array
        items:
          type: object
      administrativeArea:
        type: string
      countryCode:
        type: string
      postalCode:
        type: string
  ApiAttachmentResponse:
    type: object
    properties:
      attachment:
        type: object
        $ref: '#definitions/ApiAttachment'
  ApiBalance:
    type: object
    properties:
      balance:
        type: number
      currency:
        type: string
      localSpend:
        type: array
        items:
          type: object
      spendToday:
        type: number
  ApiAccountSettings:
    type: object
    properties:
      magstripeAtmEnabled:
        type: boolean
      magstripeAtmEnabledFor:
        type: number
  ApiBalanceLimits:
    type: object
    properties:
      annualCashLimit:
        type: number
      annualCashLimitTotal:
        type: number
      annualLoadLimit:
        type: number
      annualLoadLimitTotal:
        type: number
      dailyCashLimit:
        type: number
      dailyCashLimitTotal:
        type: number
      dailyLoadLimit:
        type: number
      dailyLoadLimitTotal:
        type: number
      inboundP2pMax:
        type: number
      maxBalance:
        type: number
      maxSingleP2pLimit:
        type: number
      maxSinglePosLimit:
        type: number
      monthlyCashLimit:
        type: number
      monthlyCashLimitTotal:
        type: number
      monthlyInboundP2pLimit:
        type: number
      monthlyInboundP2pLimitTotal:
        type: number
      monthlyLoadLimit:
        type: number
      monthlyLoadLimitTotal:
        type: number
      monthlyP2pLimit:
        type: number
      monthlyP2pLimitTotal:
        type: number
      verificationType:
        type: object
        $ref: '#definitions/VerificationType'
  ApiCard:
    type: object
    properties:
      expires:
        type: string
      id:
        type: string
      lastDigits:
        type: string
      processorToken:
        type: string
      replacementOrdered:
        type: number
      status:
        type: string
  ApiCardDispatchStatus:
    type: object
    properties:
      estimatedDeliveryDate:
        type: string
        format: date
      status:
        type: object
        description: '*TODO: inner class refs'
  ApiCardResponse:
    type: object
    properties:
      card:
        type: object
        $ref: '#definitions/ApiCard'
  ApiCardReplacementOrder:
    type: object
    properties:
      estimatedDeliveryDate:
        type: string
        format: date
  ApiCardsResponse:
    type: object
    properties:
      cards:
        type: array
        items:
          type: object
  ApiCodeCheckResult:
    type: object
    properties:
      isOk:
        type: boolean
      reason:
        type: string
  ApiConfig:
    type: object
    properties:
      featureFlags:
        type: object
        description: '*TODO: inner class refs'
      inboundP2p:
        type: object
        description: '*TODO: inner class refs'
      p2p:
        type: object
        description: '*TODO: inner class refs'
      sddSplashscreen:
        type: string
      username:
        type: object
        description: '*TODO: inner class refs'
      isIdentityVerificationHelpEnabled:
        type: boolean
      enabled:
        type: boolean
      max:
        type: integer
      min:
        type: integer
      reason:
        type: string
      primary:
        type: string
      status:
        type: string
  ApiContactDiscovery:
    type: object
    properties:
      phone:
        type: object
        description: 'Unknown type: Map'
  ApiGoldenTicket:
    type: object
    properties:
      shortUri:
        type: string
      status:
        type: object
        description: '*TODO: inner class refs'
      ticketId:
        type: string
      uri:
        type: string
      apiValue:
        type: string
  ApiInitialTopupStatus:
    type: object
    properties:
      topupAmount:
        type: number
      topupCurrency:
        type: string
      topupProcessed:
        type: boolean
  ApiIntercomToken:
    type: object
    properties:
      token:
        type: string
  ApiLocalSpend:
    type: object
    properties:
      currency:
        type: string
      spendToday:
        type: number
  ApiNews:
    type: object
    properties:
      posts:
        type: array
        items:
          type: object
  ApiNewsItem:
    type: object
    properties:
      expires:
        type: string
        format: date
      id:
        type: string
      title:
        type: string
      uri:
        type: string
  ApiPostcodeResponse:
    type: object
    properties:
      results:
        type: array
        items:
          type: object
  ApiProfile:
    type: object
    properties:
      address:
        type: object
        $ref: '#definitions/LegacyApiAddress'
      addressUpdatable:
        type: boolean
      dateOfBirth:
        type: string
      email:
        type: string
      name:
        type: string
      phoneNumber:
        type: string
      preferredName:
        type: string
      userId:
        type: string
      userNumber:
        type: integer
  ApiToken:
    type: object
    properties:
      accessToken:
        type: string
      clientId:
        type: string
      expiresIn:
        type: string
      refreshToken:
        type: string
      tokenType:
        type: string
      userId:
        type: string
  ApiTransactionResponse:
    type: object
    properties:
      transaction:
        type: object
        $ref: '#definitions/ApiTransaction'
  ApiUserSettings:
    type: object
    properties:
      p2pEnabled:
        type: boolean
  ApiWaitlistPosition:
    type: object
    properties:
      after:
        type: integer
      events:
        type: array
        items:
          type: object
      finished:
        type: boolean
      ineligible:
        type: boolean
      position:
        type: integer
      referralBump:
        type: integer
      referralLink:
        type: string
      userId:
        type: string
  LegacyApiAddress:
    type: object
    properties:
      administrativeArea:
        type: string
      country:
        type: string
      locality:
        type: string
      postalCode:
        type: string
      streetAddress:
        type: array
        items:
          type: object
  NotificationMessage:
    type: object
    properties:
      body:
        type: string
      subtitle:
        type: string
      title:
        type: string
  VerificationType:
    type: object
    properties:
      descriptionResId:
        type: integer
      dueDiligenceLevel:
        type: string
  a:
    type: object
    properties: {}
  b:
    type: object
    properties: {}
  c:
    type: object
    properties: {}
  ApiAttachment:
    type: object
    properties:
      created:
        type: string
        format: date
      externalId:
        type: string
      fileUrl:
        type: string
      id:
        type: string
  ApiCounterparty:
    type: object
    properties:
      accountNumber:
        type: string
      name:
        type: string
      number:
        type: string
      sortCode:
        type: string
      userId:
        type: string
  ApiFeedItem:
    type: object
    properties:
      appUri:
        type: string
      created:
        type: string
        format: date
      externalId:
        type: string
      id:
        type: string
      isDismissable:
        type: boolean
      params:
        type: object
        description: '*TODO: inner class refs'
      transaction:
        type: object
        $ref: '#definitions/ApiTransaction'
      type:
        type: string
      amount:
        type: number
      body:
        type: string
      currency:
        type: string
      imageUrl:
        type: string
      intervalEnd:
        type: string
        format: date
      intervalStart:
        type: string
        format: date
      intervalType:
        type: string
      kycRejectedCustomerMessage:
        type: string
      kycRejectedReason:
        type: string
      sddMigrationRejectionNote:
        type: string
      ticketId:
        type: string
      title:
        type: string
  ApiFeedResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
  ApiMerchant:
    type: object
    properties:
      address:
        type: object
        $ref: '#definitions/ApiMerchantAddress'
      atm:
        type: boolean
      category:
        type: string
      description:
        type: string
      emoji:
        type: string
      groupId:
        type: string
      id:
        type: string
      logo:
        type: string
      name:
        type: string
      online:
        type: boolean
  ApiMerchantAddress:
    type: object
    properties:
      formatted:
        type: string
      latitude:
        type: number
      longitude:
        type: number
      shortFormatted:
        type: string
  ApiMetadata:
    type: object
    properties:
      bacsDirectDebitInstructionId:
        type: string
      hideAmount:
        type: boolean
      inboundP2pId:
        type: string
      notes:
        type: string
  ApiTransaction:
    type: object
    properties:
      amount:
        type: number
      attachments:
        type: array
        items:
          type: object
      category:
        type: string
      counterparty:
        type: object
        $ref: '#definitions/ApiCounterparty'
      created:
        type: string
        format: date
      currency:
        type: string
      declineReason:
        type: string
      description:
        type: string
      id:
        type: string
      includeInSpending:
        type: boolean
      isLoad:
        type: boolean
      localAmount:
        type: number
      localCurrency:
        type: string
      merchant:
        type: object
        $ref: '#definitions/ApiMerchant'
      metadata:
        type: object
        $ref: '#definitions/ApiMetadata'
      scheme:
        type: string
      settled:
        type: string
      updated:
        type: string
        format: date
  Action:
    type: object
    properties:
      params:
        type: object
        description: '*TODO: inner class refs'
      title:
        type: string
      type:
        type: string
      url:
        type: string
  Content:
    type: object
    properties:
      sections:
        type: array
        items:
          type: object
  SearchQuery:
    type: object
    properties:
      model:
        type: string
      query:
        type: string
      sections:
        type: array
        items:
          type: object
  Section:
    type: object
    properties:
      title:
        type: string
      topics:
        type: array
        items:
          type: object
  Topic:
    type: object
    properties:
      actions:
        type: array
        items:
          type: object
      content:
        type: string
      id:
        type: string
      title:
        type: string
  ApiUploadContainer:
    type: object
    properties:
      fileUrl:
        type: string
      uploadUrl:
        type: string
  ContentType:
    type: object
    properties:
      mimeType:
        type: string
  FileType:
    type: object
    properties:
      apiValue:
        type: string
  FileUpload:
    type: object
    properties:
      fileId:
        type: string
      uploadUrl:
        type: string
  IdentityDocumentType:
    type: object
    properties:
      apiValue:
        type: string
      displayNameRes:
        type: integer
      isBackRequired:
        type: boolean
  IdentityVerification:
    type: object
    properties:
      allowPicker:
        type: boolean
      allowSystemCamera:
        type: boolean
      identityDocUploaded:
        type: boolean
      rejectionNote:
        type: string
      rejectionReasonCode:
        type: string
      selfieUploaded:
        type: boolean
      status:
        type: object
        description: '*TODO: inner class refs'
  WhenMappings:
    type: object
    properties: {}
  LegacyIdType:
    type: object
    properties:
      type:
        type: string
  LegacyKyc:
    type: object
    properties:
      evidenceReviewed:
        type: boolean
      evidenceSubmitted:
        type: boolean
      status:
        type: object
        description: '*TODO: inner class refs'
  ApiPinSms:
    type: object
    properties:
      smsBlocked:
        type: boolean
  SignUpSource:
    type: object
    properties:
      apiValue:
        type: string
  AddStripeCardRequest:
    type: object
    properties:
      accountId:
        type: string
      iin:
        type: string
      save:
        type: boolean
      stripeToken:
        type: string
  ApiStripeCard:
    type: object
    properties:
      brand:
        type: string
      endDate:
        type: string
      funding:
        type: string
      lastFour:
        type: string
      stripeCardId:
        type: string
  ApiStripeCards:
    type: object
    properties:
      cards:
        type: array
        items:
          type: object
  ApiThreeDsResponse:
    type: object
    properties:
      decision:
        type: string
      redirectUrl:
        type: string
      required:
        type: boolean
      status:
        type: string
      stripeSource:
        type: string
  ApiTopUpLimits:
    type: object
    properties:
      maxLoad:
        type: number
      minLoad:
        type: number
  ThreeDSecureRequest:
    type: object
    properties:
      accountId:
        type: string
      amount:
        type: number
      currency:
        type: string
      isInitial:
        type: boolean
      returnUrl:
        type: string
      stripeCardId:
        type: string
  TopUpRequest:
    type: object
    properties:
      accountId:
        type: string
      amount:
        type: number
      currency:
        type: string
      isInitial:
        type: boolean
      stripeSource:
        type: string
      threeDSecureDecision:
        type: string
  Data:
    type: object
    properties:
      activeNotifications:
        type: integer
      amount:
        type: integer
      androidPayEnabled:
        type: boolean
      apiErrorCode:
        type: string
      apiErrorMessage:
        type: string
      apiStatusCode:
        type: integer
      appShortcutType:
        type: string
      authenticate:
        type: boolean
      cameFrom:
        type: string
      category:
        type: string
      contacts:
        type: integer
      contactsOnMonzo:
        type: integer
      description:
        type: string
      diligence:
        type: string
      docDone:
        type: boolean
      docType:
        type: string
      eligible:
        type: integer
      enabled:
        type: boolean
      errorType:
        type: string
      fallback:
        type: boolean
      feedback:
        type: string
      fingerprintAuth:
        type: string
      firstSampleDelta:
        type: number
      firstTime:
        type: boolean
      from:
        type: string
      gpsAdid:
        type: string
      granted:
        type: boolean
      kycRejected:
        type: boolean
      logoutReason:
        type: string
      memoryError:
        type: boolean
      method:
        type: string
      month:
        type: integer
      newCategory:
        type: string
      nfcEnabled:
        type: boolean
      notificationSubType:
        type: string
      notificationType:
        type: string
      oldCategory:
        type: string
      openedFrom:
        type: string
      optedIn:
        type: boolean
      outcome:
        type: string
      path:
        type: string
      redirectId:
        type: string
      referrer:
        type: string
      reportMonth:
        type: string
      sampleError:
        type: boolean
      secondSampleDelta:
        type: number
      selfieDone:
        type: boolean
      splitWith:
        type: string
      topicId:
        type: string
      tourPage:
        type: integer
      traceId:
        type: string
      transactionId:
        type: string
      type:
        type: string
      url:
        type: string
      userId:
        type: string
      videoErrorReason:
        type: string
  Impression:
    type: object
    properties:
      events:
        type: array
        items:
          type: object
      value:
        type: string
  ImpressionEvent:
    type: object
    properties:
      data:
        type: object
        $ref: '#definitions/Data'
      name:
        type: string
      timestamp:
        type: string
  ServiceStatus:
    type: object
    properties:
      incidents:
        type: array
        items:
          type: object
  ServiceStatusIncident:
    type: object
    properties:
      id:
        type: string
      impact:
        type: string
      name:
        type: string
      shortlink:
        type: string
      status:
        type: string
