swagger: '2.0'
info:
  description: ''
  version: 1.0.0
  title: Monzo Undocumented API
host: api.monzo.com
basePath: /
tags:
  - name: Account
    description: ''
  - name: Topup
    description: ''
  - name: user
    description: ''
schemes:
  - https
paths:
  /account-settings:
    get:
      produces:
        - application/json
      consumes: []
      tags: &ref_0
        - MonzoApi
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: magstripe_atm_enabled
          type: boolean
      responses:
        '200':
          description: Success
  /accounts:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_type
          type: string
      responses:
        '200':
          description: Success
  /api/v2/incidents/unresolved.json:
    get:
      produces:
        - application/json
      consumes: []
      tags:
        - ServiceStatusApi
      parameters: []
      responses:
        '200':
          description: Success
  /attachment/deregister:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: id
          type: string
      responses:
        '200':
          description: Success
  /attachment/register:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: external_id
          type: string
        - in: formData
          name: file_url
          type: string
      responses:
        '200':
          description: Success
  /attachment/upload:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: file_name
          type: string
        - in: formData
          name: file_type
          type: string
      responses:
        '200':
          description: Success
  /bacs-direct-debits/instructions:
    get:
      produces:
        - application/json
      consumes: []
      tags: &ref_1
        - MonzoPaymentsApi
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  '/bacs-direct-debits/instructions/{direct_debit_id}/cancel':
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: path
          name: direct_debit_id
          type: string
          required: true
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: challenge_type
          type: string
        - in: formData
          name: challenge
          type: string
        - in: formData
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
  /balance:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /balance/limits:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /card-activation/activate:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: card_token
          type: string
      responses:
        '200':
          description: Success
  /card-dispatch/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /card-replacement/activate:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: old_card_id
          type: string
        - in: formData
          name: new_card_token
          type: string
      responses:
        '200':
          description: Success
  /card-replacement/order:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: card_id
          type: string
        - in: formData
          name: 'address[street_address][]'
          type: array
          items:
            type: string
        - in: formData
          name: 'address[locality]'
          type: string
        - in: formData
          name: 'address[administrative_area]'
          type: string
        - in: formData
          name: 'address[postal_code]'
          type: string
        - in: formData
          name: 'address[country]'
          type: string
      responses:
        '200':
          description: Success
  /card/list:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /card/toggle:
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: card_id
          type: string
        - in: formData
          name: status
          type: string
      responses:
        '200':
          description: Success
  /config:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters: []
      responses:
        '200':
          description: Success
  /contact-discovery/query:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: 'hash[][phone]'
          type: string
      responses:
        '200':
          description: Success
  /faster-payments/create:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: currency
          type: string
        - in: formData
          name: beneficiary_account_number
          type: string
        - in: formData
          name: beneficiary_sort_code
          type: string
        - in: formData
          name: beneficiary_customer_name
          type: string
        - in: formData
          name: idempotency_key
          type: string
        - in: formData
          name: challenge_type
          type: string
        - in: formData
          name: challenge
          type: string
        - in: formData
          name: reference
          type: string
      responses:
        '200':
          description: Success
  /fcm/register:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: device_token
          type: string
        - in: formData
          name: app_id
          type: string
      responses:
        '200':
          description: Success
  /feed:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
        - in: query
          name: start_time
          type: string
      responses:
        '200':
          description: Success
  '/feed/{id}':
    delete:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        '200':
          description: Success
  /geocode/postal-code-lookup:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: postal_code
          type: string
        - in: query
          name: country
          type: string
      responses:
        '200':
          description: Success
  '/golden-ticket/{id}':
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        '200':
          description: Success
  '/help/content/categories/{id}':
    get:
      produces:
        - application/json
      consumes: []
      tags: &ref_2
        - HelpApi
      parameters:
        - in: path
          name: id
          type: string
          required: true
      responses:
        '200':
          description: Success
  /help/content/search:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_2
      parameters:
        - in: query
          name: q
          type: string
      responses:
        '200':
          description: Success
  /help/content/trending:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_2
      parameters: []
      responses:
        '200':
          description: Success
  /identity-verification/register-identity-document:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: &ref_3
        - MonzoIdentityVerificationApi
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: type
          type: string
        - in: formData
          name: issuing_country
          type: string
        - in: formData
          name: system_camera_used
          type: boolean
        - in: formData
          name: primary_image_file_id
          type: string
        - in: formData
          name: secondary_image_file_id
          type: string
      responses:
        '200':
          description: Success
  /identity-verification/register-selfie-video:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: file_id
          type: string
        - in: formData
          name: system_camera_used
          type: boolean
      responses:
        '200':
          description: Success
  /identity-verification/request-file-upload:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: type
          type: string
        - in: formData
          name: file_name
          type: string
        - in: formData
          name: content_type
          type: string
        - in: formData
          name: content_length
          type: number
      responses:
        '200':
          description: Success
  /identity-verification/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_3
      parameters:
        - in: query
          name: source
          type: string
      responses:
        '200':
          description: Success
  /identity-verification/submit:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: query
          name: source
          type: string
      responses:
        '200':
          description: Success
  '/intercom/tokens/{intercom_app_id}':
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: path
          name: intercom_app_id
          type: string
          required: true
      responses:
        '200':
          description: Success
  /kyc/register:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: formData
          name: file_url
          type: string
        - in: formData
          name: group_id
          type: string
        - in: formData
          name: evidence_type
          type: string
      responses:
        '200':
          description: Success
  /kyc/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_3
      parameters: []
      responses:
        '200':
          description: Success
  /kyc/upload:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_3
      parameters:
        - in: formData
          name: file_name
          type: string
        - in: formData
          name: file_type
          type: string
      responses:
        '200':
          description: Success
  /news:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters: []
      responses:
        '200':
          description: Success
  /oauth2/authorize:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: &ref_4
        - MonzoOAuthApi
      parameters:
        - in: header
          name: Authorization
          type: string
        - in: formData
          name: email
          type: string
        - in: formData
          name: client_id
          type: string
        - in: formData
          name: response_type
          type: string
        - in: formData
          name: redirect_uri
          type: string
        - in: formData
          name: state
          type: string
      responses:
        '200':
          description: Success
  /oauth2/logout:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_4
      parameters:
        - in: header
          name: Authorization
          type: string
      responses:
        '200':
          description: Success
  /oauth2/token:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_4
      parameters:
        - in: header
          name: Authorization
          type: string
        - in: formData
          name: grant_type
          type: string
        - in: formData
          name: code
          type: string
        - in: formData
          name: redirect_uri
          type: string
      responses:
        '200':
          description: Success
  /p2p/recipients:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: formData
          name: 'candidate[0][username]'
          type: string
      responses:
        '200':
          description: Success
  /p2p/transfer:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: formData
          name: recipient
          type: string
        - in: formData
          name: recipient_type
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: currency
          type: string
        - in: formData
          name: challenge_type
          type: string
        - in: formData
          name: challenge
          type: string
        - in: formData
          name: dedupe_id
          type: string
        - in: formData
          name: notes
          type: string
      responses:
        '200':
          description: Success
  /payee/validate:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_1
      parameters:
        - in: query
          name: account_number
          type: string
        - in: query
          name: sort_code
          type: string
      responses:
        '200':
          description: Success
  /phone/check-code:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: phone_number
          type: string
        - in: formData
          name: code
          type: string
      responses:
        '200':
          description: Success
  /phone/send-code:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: phone_number
          type: string
      responses:
        '200':
          description: Success
  /pin/sms:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: date_of_birth
          type: string
      responses:
        '200':
          description: Success
  /pin/sms_blocked:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /scheduled-payments/series:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_1
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /scheduled-payments/series/fps:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_1
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: currency
          type: string
        - in: formData
          name: beneficiary_account_number
          type: string
        - in: formData
          name: beneficiary_sort_code
          type: string
        - in: formData
          name: beneficiary_customer_name
          type: string
        - in: formData
          name: idempotency_key
          type: string
        - in: formData
          name: challenge_type
          type: string
        - in: formData
          name: challenge
          type: string
        - in: formData
          name: reference
          type: string
        - in: formData
          name: start_date
          type: string
        - in: formData
          name: interval_type
          type: string
        - in: formData
          name: end_date
          type: string
      responses:
        '200':
          description: Success
  '/scheduled-payments/series/{series_id}':
    delete:
      produces:
        - application/json
      consumes: []
      tags: *ref_1
      parameters:
        - in: path
          name: series_id
          type: string
          required: true
        - in: query
          name: account_id
          type: string
        - in: query
          name: challenge_type
          type: string
        - in: query
          name: challenge
          type: string
        - in: query
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
  /signup:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: v2_enabled
          type: boolean
      responses:
        '200':
          description: Success
  /signup/apply:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: v2_enabled
          type: boolean
        - in: formData
          name: 'address[street_address][]'
          type: string
      responses:
        '200':
          description: Success
  /signup/create:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: query
          name: source
          type: string
        - in: formData
          name: 'address[street_address][]'
          type: string
      responses:
        '200':
          description: Success
  /signup/legal-documents/accept:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: &ref_5
        - MonzoSignUpApi
      parameters:
        - in: formData
          name: terms_and_conditions_accepted
          type: boolean
        - in: formData
          name: terms_and_conditions_version
          type: string
        - in: formData
          name: privacy_policy_accepted
          type: boolean
        - in: formData
          name: privacy_policy_version
          type: string
        - in: formData
          name: fscs_information_sheet_accepted
          type: boolean
        - in: formData
          name: fscs_information_sheet_version
          type: string
      responses:
        '200':
          description: Success
  /signup/legal-documents/documents:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/marketing/subscribe:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: opt_in
          type: boolean
        - in: formData
          name: opt_out
          type: boolean
      responses:
        '200':
          description: Success
  /signup/personal-account/card-order/create:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: name_type
          type: string
        - in: formData
          name: pin_type
          type: string
        - in: formData
          name: pin
          type: string
      responses:
        '200':
          description: Success
  /signup/personal-account/card-order/options:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/personal-account/start:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/personal-account/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/profile:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: legal_name
          type: string
        - in: formData
          name: preferred_name
          type: string
        - in: formData
          name: date_of_birth
          type: string
      responses:
        '200':
          description: Success
  /signup/profile/address:
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: address_id
          type: string
        - in: formData
          name: 'address_lines[]'
          type: string
        - in: formData
          name: administrative_area
          type: string
        - in: formData
          name: postal_code
          type: string
        - in: formData
          name: country_code
          type: string
      responses:
        '200':
          description: Success
  /signup/profile/address/search:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_5
      parameters:
        - in: query
          name: country_code
          type: string
        - in: query
          name: postal_code
          type: string
      responses:
        '200':
          description: Success
  /signup/profile/commit:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters: []
      responses:
        '200':
          description: Success
  /signup/profile/phone/send:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: phone_number
          type: string
      responses:
        '200':
          description: Success
  /signup/profile/phone/verify:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_5
      parameters:
        - in: formData
          name: phone_number
          type: string
        - in: formData
          name: code
          type: string
      responses:
        '200':
          description: Success
  /stripe/cards:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: stripe_token
          type: string
        - in: formData
          name: iin
          type: string
        - in: formData
          name: save
          type: boolean
        - in: formData
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /stripe/three_d_secure:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: currency
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: is_initial
          type: boolean
        - in: formData
          name: stripe_card_id
          type: string
        - in: formData
          name: return_url
          type: string
        - in: formData
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
  /stripe/top_up:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: account_id
          type: string
        - in: formData
          name: stripe_source
          type: string
        - in: formData
          name: currency
          type: string
        - in: formData
          name: amount
          type: number
        - in: formData
          name: is_initial
          type: boolean
        - in: formData
          name: three_d_secure_decision
          type: string
        - in: formData
          name: idempotency_key
          type: string
      responses:
        '200':
          description: Success
  /tax-residency/no-tin:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: &ref_6
        - MonzoTaxResidencyApi
      parameters:
        - in: formData
          name: country_code
          type: string
      responses:
        '200':
          description: Success
  /tax-residency/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_6
      parameters: []
      responses:
        '200':
          description: Success
  /tax-residency/submit:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_6
      parameters: []
      responses:
        '200':
          description: Success
  /tax-residency/update-self-certification:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_6
      parameters:
        - in: formData
          name: from_summary_screen
          type: boolean
        - in: formData
          name: us_citizen
          type: boolean
        - in: formData
          name: 'country_codes[]'
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
  /tax-residency/update-tin:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_6
      parameters:
        - in: formData
          name: country_code
          type: string
        - in: formData
          name: type
          type: string
        - in: formData
          name: value
          type: string
      responses:
        '200':
          description: Success
  /topup/limits:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /topup/status:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters:
        - in: query
          name: account_id
          type: string
      responses:
        '200':
          description: Success
  /transactions/update-metadata:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: transaction_id
          type: string
        - in: formData
          name: 'metadata[notes]'
          type: string
      responses:
        '200':
          description: Success
  '/transactions/{transaction_id}':
    patch:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: path
          name: transaction_id
          type: string
          required: true
        - in: formData
          name: category
          type: string
      responses:
        '200':
          description: Success
  /user-settings:
    put:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters:
        - in: formData
          name: p2p_enabled
          type: boolean
      responses:
        '200':
          description: Success
  /waitlist:
    get:
      produces:
        - application/json
      consumes: []
      tags: *ref_0
      parameters: []
      responses:
        '200':
          description: Success
  /waitlist/signup:
    post:
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      tags: *ref_0
      parameters: []
      responses:
        '200':
          description: Success
securityDefinitions: {}
definitions:
  ApiAccount:
    type: object
    properties:
      accountNumber:
        type: number
      created:
        type: number
      description:
        type: number
      id:
        type: number
      sortCode:
        type: number
      type:
        type: number
  ApiAccountSettings:
    type: object
    properties:
      magstripeAtmEnabled:
        type: number
      magstripeAtmEnabledFor:
        type: number
  ApiAddress:
    type: object
    properties:
      addressId:
        type: number
      addressLines:
        type: number
      administrativeArea:
        type: number
      countryCode:
        type: number
      postalCode:
        type: number
  ApiAccounts:
    type: object
    properties:
      accounts:
        type: number
  ApiAttachmentResponse:
    type: object
    properties:
      attachment:
        type: number
  ApiBalance:
    type: object
    properties:
      balance:
        type: number
      currency:
        type: number
      localSpend:
        type: number
      spendToday:
        type: number
  ApiBalanceLimits:
    type: object
    properties:
      annualCashLimit:
        type: number
      annualCashLimitTotal:
        type: number
      annualLoadLimit:
        type: number
      annualLoadLimitTotal:
        type: number
      dailyCashLimit:
        type: number
      dailyCashLimitTotal:
        type: number
      dailyLoadLimit:
        type: number
      dailyLoadLimitTotal:
        type: number
      inboundP2pMax:
        type: number
      maxBalance:
        type: number
      maxSingleP2pLimit:
        type: number
      maxSinglePosLimit:
        type: number
      monthlyCashLimit:
        type: number
      monthlyCashLimitTotal:
        type: number
      monthlyInboundP2pLimit:
        type: number
      monthlyInboundP2pLimitTotal:
        type: number
      monthlyLoadLimit:
        type: number
      monthlyLoadLimitTotal:
        type: number
      monthlyP2pLimit:
        type: number
      monthlyP2pLimitTotal:
        type: number
      verificationType:
        type: number
  ApiCard:
    type: object
    properties:
      expires:
        type: number
      id:
        type: number
      lastDigits:
        type: number
      processorToken:
        type: number
      replacementOrdered:
        type: number
      status:
        type: number
  ApiCardDispatchStatus:
    type: object
    properties:
      estimatedDeliveryDate:
        type: number
      status:
        type: number
  ApiCardReplacementOrder:
    type: object
    properties:
      estimatedDeliveryDate:
        type: number
  ApiCardResponse:
    type: object
    properties:
      card:
        type: number
  ApiCardsResponse:
    type: object
    properties:
      cards:
        type: number
  ApiCodeCheckResult:
    type: object
    properties:
      isOk:
        type: number
      reason:
        type: number
  ApiConfig:
    type: object
    properties:
      featureFlags:
        type: number
      inboundP2p:
        type: number
      p2p:
        type: number
      sddSplashscreen:
        type: number
      username:
        type: number
      isIdentityVerificationHelpEnabled:
        type: number
      enabled:
        type: number
      max:
        type: number
      min:
        type: number
      reason:
        type: number
      primary:
        type: number
      status:
        type: number
  ApiContactDiscovery:
    type: object
    properties:
      phone:
        type: number
  ApiIntercomToken:
    type: object
    properties:
      token:
        type: number
  ApiInitialTopupStatus:
    type: object
    properties:
      topupAmount:
        type: number
      topupCurrency:
        type: number
      topupProcessed:
        type: number
  ApiLocalSpend:
    type: object
    properties:
      currency:
        type: number
      spendToday:
        type: number
  ApiNews:
    type: object
    properties:
      posts:
        type: number
  ApiNewsItem:
    type: object
    properties:
      expires:
        type: number
      id:
        type: number
      title:
        type: number
      uri:
        type: number
  ApiPostcodeResponse:
    type: object
    properties:
      results:
        type: number
  ApiToken:
    type: object
    properties:
      accessToken:
        type: number
      clientId:
        type: number
      expiresIn:
        type: number
      refreshToken:
        type: number
      tokenType:
        type: number
      userId:
        type: number
  ApiProfile:
    type: object
    properties:
      address:
        type: number
      addressUpdatable:
        type: number
      dateOfBirth:
        type: number
      email:
        type: number
      name:
        type: number
      phoneNumber:
        type: number
      preferredName:
        type: number
      userId:
        type: number
      userNumber:
        type: number
  ApiTransactionResponse:
    type: object
    properties:
      transaction:
        type: number
  ApiUserSettings:
    type: object
    properties:
      p2pEnabled:
        type: number
  ApiWaitlistPosition:
    type: object
    properties:
      after:
        type: number
      events:
        type: number
      finished:
        type: number
      ineligible:
        type: number
      position:
        type: number
      referralBump:
        type: number
      referralLink:
        type: number
      userId:
        type: number
  LegacyApiAddress:
    type: object
    properties:
      administrativeArea:
        type: number
      country:
        type: number
      locality:
        type: number
      postalCode:
        type: number
      streetAddress:
        type: number
  NotificationMessage:
    type: object
    properties:
      body:
        type: number
      subtitle:
        type: number
      title:
        type: number
  VerificationType:
    type: object
    properties:
      descriptionResId:
        type: number
      dueDiligenceLevel:
        type: number
  a:
    type: object
    properties: {}
  b:
    type: object
    properties: {}
  c:
    type: object
    properties: {}
  identity_verification/ApiUploadContainer:
    type: object
    properties:
      fileUrl:
        type: number
      uploadUrl:
        type: number
  identity_verification/ContentType:
    type: object
    properties:
      mimeType:
        type: number
  identity_verification/FileUpload:
    type: object
    properties:
      fileId:
        type: number
      uploadUrl:
        type: number
  identity_verification/FileType:
    type: object
    properties:
      apiValue:
        type: number
  identity_verification/IdentityDocumentType:
    type: object
    properties:
      apiValue:
        type: number
      displayNameRes:
        type: number
      isBackRequired:
        type: number
  identity_verification/IdentityVerification:
    type: object
    properties:
      allowPicker:
        type: number
      allowSystemCamera:
        type: number
      identityDocUploaded:
        type: number
      rejectionNote:
        type: number
      rejectionReasonCode:
        type: number
      selfieUploaded:
        type: number
      status:
        type: number
  identity_verification/LegacyIdType$Companion$WhenMappings:
    type: object
    properties: {}
  identity_verification/LegacyIdType:
    type: object
    properties:
      type:
        type: number
  identity_verification/LegacyKyc$Status$WhenMappings:
    type: object
    properties: {}
  identity_verification/LegacyKyc:
    type: object
    properties:
      evidenceReviewed:
        type: number
      evidenceSubmitted:
        type: number
      status:
        type: number
  feed/ApiAttachment:
    type: object
    properties:
      created:
        type: number
      externalId:
        type: number
      fileUrl:
        type: number
      id:
        type: number
  feed/ApiCounterparty:
    type: object
    properties:
      accountNumber:
        type: number
      name:
        type: number
      number:
        type: number
      sortCode:
        type: number
      userId:
        type: number
  feed/ApiFeedItem:
    type: object
    properties:
      appUri:
        type: number
      created:
        type: number
      externalId:
        type: number
      id:
        type: number
      isDismissable:
        type: number
      params:
        type: number
      transaction:
        type: number
      type:
        type: number
      amount:
        type: number
      body:
        type: number
      currency:
        type: number
      imageUrl:
        type: number
      intervalEnd:
        type: number
      intervalStart:
        type: number
      intervalType:
        type: number
      kycRejectedCustomerMessage:
        type: number
      kycRejectedReason:
        type: number
      sddMigrationRejectionNote:
        type: number
      ticketId:
        type: number
      title:
        type: number
  feed/ApiFeedResponse:
    type: object
    properties:
      items:
        type: number
  feed/ApiMerchant:
    type: object
    properties:
      address:
        type: number
      atm:
        type: number
      category:
        type: number
      description:
        type: number
      emoji:
        type: number
      groupId:
        type: number
      id:
        type: number
      logo:
        type: number
      name:
        type: number
      online:
        type: number
  feed/ApiMerchantAddress:
    type: object
    properties:
      formatted:
        type: number
      latitude:
        type: number
      longitude:
        type: number
      shortFormatted:
        type: number
  feed/ApiMetadata:
    type: object
    properties:
      bacsDirectDebitInstructionId:
        type: number
      hideAmount:
        type: number
      inboundP2pId:
        type: number
      notes:
        type: number
  feed/ApiTransaction:
    type: object
    properties:
      amount:
        type: number
      attachments:
        type: number
      category:
        type: number
      counterparty:
        type: number
      created:
        type: number
      currency:
        type: number
      declineReason:
        type: number
      description:
        type: number
      id:
        type: number
      includeInSpending:
        type: number
      isLoad:
        type: number
      localAmount:
        type: number
      localCurrency:
        type: number
      merchant:
        type: number
      metadata:
        type: number
      scheme:
        type: number
      settled:
        type: number
      updated:
        type: number
  help/Action:
    type: object
    properties:
      params:
        type: number
      title:
        type: number
      type:
        type: number
      url:
        type: number
  help/Content:
    type: object
    properties:
      sections:
        type: number
  help/SearchQuery:
    type: object
    properties:
      model:
        type: number
      query:
        type: number
      sections:
        type: number
  help/Section:
    type: object
    properties:
      title:
        type: number
      topics:
        type: number
  help/Topic:
    type: object
    properties:
      actions:
        type: number
      content:
        type: number
      id:
        type: number
      title:
        type: number
  pin/ApiPinSms:
    type: object
    properties:
      smsBlocked:
        type: number
  pin/a:
    type: object
    properties:
      prefix:
        type: number
  service_status/ServiceStatus:
    type: object
    properties:
      incidents:
        type: number
  service_status/ServiceStatusIncident:
    type: object
    properties:
      id:
        type: number
      impact:
        type: number
      name:
        type: number
      shortlink:
        type: number
      status:
        type: number
  sign_up/SignUpSource:
    type: object
    properties:
      apiValue:
        type: number
  topup/AddStripeCardRequest:
    type: object
    properties:
      accountId:
        type: number
      iin:
        type: number
      save:
        type: number
      stripeToken:
        type: number
  topup/ApiStripeCard:
    type: object
    properties:
      brand:
        type: number
      endDate:
        type: number
      funding:
        type: number
      lastFour:
        type: number
      stripeCardId:
        type: number
  topup/ApiStripeCards:
    type: object
    properties:
      cards:
        type: number
  topup/ApiThreeDsResponse:
    type: object
    properties:
      decision:
        type: number
      redirectUrl:
        type: number
      required:
        type: number
      status:
        type: number
      stripeSource:
        type: number
  topup/ApiTopUpLimits:
    type: object
    properties:
      maxLoad:
        type: object
      minLoad:
        type: object
  topup/ThreeDSecureRequest:
    type: object
    properties:
      accountId:
        type: number
      amount:
        type: number
      currency:
        type: number
      isInitial:
        type: number
      returnUrl:
        type: number
      stripeCardId:
        type: number
  topup/TopUpRequest:
    type: object
    properties:
      accountId:
        type: number
      amount:
        type: number
      currency:
        type: number
      isInitial:
        type: number
      stripeSource:
        type: number
      threeDSecureDecision:
        type: number
  tracking/Data:
    type: object
    properties:
      activeNotifications:
        type: number
      amount:
        type: number
      androidPayEnabled:
        type: number
      apiErrorCode:
        type: number
      apiErrorMessage:
        type: number
      apiStatusCode:
        type: number
      appShortcutType:
        type: number
      authenticate:
        type: number
      cameFrom:
        type: number
      category:
        type: number
      contacts:
        type: number
      contactsOnMonzo:
        type: number
      description:
        type: number
      diligence:
        type: number
      docDone:
        type: number
      docType:
        type: number
      eligible:
        type: number
      enabled:
        type: number
      errorType:
        type: number
      fallback:
        type: number
      feedback:
        type: number
      fingerprintAuth:
        type: number
      firstSampleDelta:
        type: number
      firstTime:
        type: number
      from:
        type: number
      gpsAdid:
        type: number
      granted:
        type: number
      kycRejected:
        type: number
      logoutReason:
        type: number
      memoryError:
        type: number
      method:
        type: number
      month:
        type: number
      newCategory:
        type: number
      nfcEnabled:
        type: number
      notificationSubType:
        type: number
      notificationType:
        type: number
      oldCategory:
        type: number
      openedFrom:
        type: number
      optedIn:
        type: number
      outcome:
        type: number
      path:
        type: number
      redirectId:
        type: number
      referrer:
        type: number
      reportMonth:
        type: number
      sampleError:
        type: number
      secondSampleDelta:
        type: number
      selfieDone:
        type: number
      splitWith:
        type: number
      topicId:
        type: number
      tourPage:
        type: number
      traceId:
        type: number
      transactionId:
        type: number
      type:
        type: number
      url:
        type: number
      userId:
        type: number
      videoErrorReason:
        type: number
  tracking/Impression:
    type: object
    properties:
      events:
        type: number
      value:
        type: number
  tracking/ImpressionEvent:
    type: object
    properties:
      data:
        type: number
      name:
        type: number
      timestamp:
        type: number
  tracking/a:
    type: object
    properties: {}
  ApiGoldenTicket:
    type: object
    properties:
      shortUri:
        type: number
      status:
        type: number
      ticketId:
        type: number
      uri:
        type: number
      apiValue:
        type: number
